@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LtRemark"; /* Name for the font */
  src: url("../font/LTRemark.otf") format("opentype"); /* Path to the .otf file */
  font-weight: normal; /* Optional: define font-weight */
  font-style: normal; /* Optional: define font-style */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "LtRemark";
}

.icon {
  background: url("@/assets/img/icon.png") center center no-repeat;
  background-size: cover;
  transition:  .3s ease;
}
.icon:hover {
  background: url("@/assets/img/icon2.png") center center no-repeat;
  background-size: cover;
  transform: scale(1.1);
  cursor: pointer;
}

.col .flex-col{
  flex-direction: row !important;
}

